*{
	margin: 0;
	padding:0;
	letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif; 
}
body{
	background: #f3f3f3;

}
header{
	height: 300px;}
.content{
	width: 1200px;
	margin: 0 auto;}
header .links ul{
	display: flex;
}

.content .logo .quad .trian{
	background: white;
}
.content .logo .quad{
    width: 138px;
    height: 138px;
  transform: rotate(45deg);
  background: #fff;
  z-index: 90;
  position: absolute;
  border-radius: 10px;
  left: 392px !important;
  top: 119px !important;
}
.content .logo img#logo-img {
  z-index: 99;
  position: absolute;
  left: 366px;
  top: 3px;
  width: 190px;
}
.lupa{
	margin-left: 97px !important;
}
header .links li{
	padding-left: 0px;
	list-style: none;
	margin: 20 40px;
}
header .topo{
    display: flex;
    justify-content: space-between;
}
header .links li{
	display: flex;
	justify-content: space-between;
    	font-size: 14px;
    	color: #0099b2;

}
header li a{
    	text-decoration: none;
}
.laranja a, .laranja i{
    	color: orange;
}
.azul i, .azul a{
    	color: #0099b2;
}

header i{
    	margin: 3px;
}
.geladinho li{
	text-align: right;
}
.ed_infantil{
	display: flex;
	font-weight: 700;
	color: #fdc800;
	text-transform: uppercase;
	font-size: 15px;
}
.categorias{
	
}
.categorias ul{
	display: flex;
	justify-content: flex-end;
	flex-wrap:wrap;
	list-style: none;
	margin-top: 63px;
}
.categorias img{
	width: 30px;
	height: 60px;
}
.categorias li{
	padding: 20px;
	text-align: right;
	line-height: 20px; 	
}
.texto-categoria{
	padding: 20px;
}
.en_fundamental{
	color: #0099b2;
	display: flex;
}
.en_medio{
	color: #2bc79b !important;
	display: flex;
}
.categorias ul{
	background: white;
	width: 640px;
	border-radius: 10px 10px 0 0;
	box-shadow: 1px 1px 1px 1px #00000030;
	float: right;
}