*{
	margin: 0;
	padding:0;
	letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif; 
}
body{
	background: #f3f3f3;

}
.content{
	width: 1200px;
	margin: 0 auto;}
header .links ul{
	display: flex;
}

.content .logo .quad .trian{
	background: white;
}
.content .logo .quad{
    width: 138px;
    height: 138px;
  transform: rotate(45deg);
  background: #fff;
  z-index: 90;
  position: absolute;
  border-radius: 10px;
  left: 196px !important;
  top: 119px !important;
  box-shadow: 0px 0px 6px 3px #00000030;

}
.content .logo img#logo-img {
  z-index: 99;
  position: absolute;
  left: 170px;
  top: 3px;
  width: 190px;
}
.lupa{
	margin-left: 97px !important;
}
header .links li{
	padding-left: 0px;
	list-style: none;
	margin: 20 40px;
}
header .topo{
    display: flex;
    justify-content: space-between;
}
header .links li{
	display: flex;
	justify-content: space-between;
    	font-size: 14px;
    	color: #0099b2;

}
header li a{
    	text-decoration: none;
}
.laranja a, .laranja i{
    	color: orange;
}
.azul i, .azul a{
    	color: #0099b2;
}

header i{
    	margin: 3px;
}
.geladinho li{
	text-align: right;
}
.ed_infantil{
	display: flex;
	font-weight: 700;
	color: #fdc800;
	text-transform: uppercase;
	font-size: 15px;
}
.categorias{
	
}
.categorias ul{
	display: flex;
	justify-content: flex-end;
	flex-wrap:wrap;
	list-style: none;
	margin-top: 63px;
}
.categorias img{
	width: 30px;
	height: 60px;
}
.categorias li{
	padding: 20px;
	text-align: right;
	line-height: 20px; 	
}
.texto-categoria{
	padding: 20px;
	
}
.en_fundamental{
	color: #0099b2;
	display: flex;
}
.en_medio{
	color: #2bc79b !important;
	display: flex;
}
.categorias ul{
	background: white;
	width: 640px;
	border-radius: 10px 10px 0 0;
	box-shadow: 1px 1px 1px 1px #00000030;
	float: right;
}
.categorias {
	margin-top: 15px;
}
.torta{
	margin-top:-10px;
}
.torta li{
	height: 700px;
	overflow: hidden;
	width: 100%;

}
.torta li img{
	width: 100%;
	background-size: cover;
	background-position: center;
	margin-top: -200px;
}
.noticias ul{
	display: flex;
}
.noticias li img{
	width: 100%;
}
.noticias li{
	width: 33.33%;
	margin: 15px;
	background: white;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 6px 3px #00000030;
	height: 392px;
}
.noticias .tumb{
	height: 247px;
	overflow: hidden;
}
.noticias span{
	background: #87cbe3 !important;
	color: white;
	padding: 7px 85px;
	position: relative;
	top: -10px;
	border-radius: 5px;
}
.noticias h5{
	margin-top: 30px;
	margin-bottom: 40px;
}
.noticias a{
	background: #87cbe3 !important;
	padding: 8px 30px;
	border-radius: 50px;
	color: white;
	font-size: 14px;
}
.noticias li{
	list-style: none;
}
.tumb{
	border-radius: 10px;
}